<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project_file.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @project_file.file %>
</p>

<%= link_to 'Edit', edit_project_file_path(@project_file) %> |
<%= link_to 'Back', project_files_path %>
